body{
    margin-left: 0;
}
.content{
    display: flex;
    margin-top: 10vh;
}

.side-nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 10%;

    
}

.a{
    display: flex;
    margin-left: 0;
    height: 100px;
    width: 40%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all linear 0.5s;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.a .child{
    display: none;
}
#green{
    background-color: #04A96D;
}


#blue{
    background-color: #2196F3;
}

#red{
    background-color: #F44236;
}

#brown{
    background-color: #555555;
}
.a:hover .child{
    display: block;
}
#green:hover, #blue:hover , #red:hover ,#brown:hover{
   height: 110px;
   width: 100%;
   cursor: pointer;

}

.side-nav a{
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    color: white;
}
.div-content{
    margin-left:5% ;
}
h1{
    margin-top: 0%;
    margin-bottom: 10%;
    font-size: 40px;
}

p{
    font-size: 18px;
}